/* p.error {
    color:red;
}

p.success {
    color:#4fdb4f;
}
p.success.feedback {
    border: 1px dashed #4fdb4f;
}

#content {
    background-color: #ebebeb;
    padding: 20px;
} */

/* div .error{
    color: red;
} */

/* a[href*="https://www.thenetninja.co.uk"] { */
/* a[href*="thenetninja"] {
    background-color: #3dd13d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href*="google"] {
    color: white;
    background: red;
    border: 2px solid blue;
} */
div {
    color: lightcoral;
    border: 1px solid grey;
    margin: 40px;
    font-weight: bold;
}
p {
    border: inherit;
    margin: inherit;
    color: crimson;
}
div p {
    border: inherit;
    margin: inherit;
    color: green;
    /* den här har högst värde då den är mest specifik!
    därför bestämmer den stylen på p i div tag */
}

p {
    color :orange;
    /* den här tar över från p ovan för den är längre ner
    men div p ovan är mer specifik och skriver över den- */
}